/*
----------------
CORE CSS
----------------
*/
@font-face {
    font-family: 'riffic_freebold';
    src: url('../font/rifficfree-bold-webfont.eot');
    src: url('../font/rifficfree-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/rifficfree-bold-webfont.woff2') format('woff2'),
         url('../font/rifficfree-bold-webfont.woff') format('woff'),
         url('../font/rifficfree-bold-webfont.ttf') format('truetype'),
         url('../font/rifficfree-bold-webfont.svg#riffic_freebold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    height: 100%;
}
body{
    height: 100%;
    width: 100%;
    margin:0;
    overflow:auto;
}

#view{
    /*height: 567px;
    width: 360px;
    height: 752px;
    width: 1280px;*/
    height: 100%;
    width: 100%;
    overflow:auto;
    background-color: #91D0F3;
}


.center-text{
    vertical-align: center;
    text-align: center;
}

.clear {
    clear:both;
}
.whiteStroke{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
.bigButton{
    font-family: 'riffic_freebold';
    font-size: 50px;
    color:#FFF;
    padding:20px;
    width:50%;    
}

h1{
    font-family: 'riffic_freebold';
    font-size: 50px;
    color:#BA0DD8;
    margin-bottom:2%;
}
.container{
    height:100%;
    width:100%;
    overflow: auto;

}
/*
----------------
MENU CSS
----------------
*/
#titleText{
    margin-top: 15%;
}

#start{
    margin: 15% auto;
    background-color: #f2ff00;
    border: 5px solid #DED622;
    border-radius: 40px;
}
#save{
    display: inline-block;
    background-color: #f2ff00;
    border: 5px solid #DED622;
    border-radius: 40px;
}
#skip{
    margin-top: 5%;
    display: inline-block;
    background-color: #FBA137;
    border: 5px solid #FF8A00;
    border-radius: 40px;
}
#studentNo{
    border: 3px solid #42738E;
    border-radius: 40px;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 5%;
}

.gameButtonMem{
    margin: 5% auto;
    background-color: #f2ff00;
    border: 5px solid #DED622;
    border-radius: 40px;
    width: 60%;
}
.gameButtonMat{
    margin: 5% auto;
    background-color: #FFA200;
    border: 5px solid #E08E00;
    border-radius: 40px;
    width: 60%;
}
.gameButtonSpl{
    margin: 5% auto;
    background-color: #63D43C;
    border: 5px solid #57B935;
    border-radius: 40px;
    width: 60%;
}
.difficulty-title{
    font-family: 'riffic_freebold';
    font-size: 50px;
    color: #BA0DD8;
    margin-bottom: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
}
.difficultyButton{
    padding:20px;
    width:25%;
    margin:0 auto;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: #8998de;
}
/*
----------------
MATHS CSS
----------------
*/
.maths-container{
    text-align: center;
    margin:0 auto;
}

.mathsbox{
    display: inline-block;
    height: 70px;
    font-size: 58px;
    margin: 5px;
    /* background-color: #ccc; */
    color: #fff;
    font-family: "riffic_freebold";
}
.answerbox{
    font-family: "riffic_freebold";
    float: left;
    /* height: 20%; */
    width: 46%;
    font-size: 100px;
    margin: 1%;
    background-color: #ccc;
    border-radius: 25px;
}
#myProgress {
    margin: 1% auto;
    position: relative;
    width: 90%;
    height: 30px;
    background-color: #eee;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #f5d6a4;
}
.right-wrong-box{
    font-family: "riffic_freebold";
    color: #fff;
    font-size: 40px;
}
.rightNo{
    display:inline-block;
    margin-right:20px;
    width:45%;
}
.wrongNo{
    display:inline-block;
    width:45%;
}
.smallImg{
    width:25%;
    margin-right:20px;
}
/*
----------------
GAME OVER CSS
----------------
*/
.continue{
    margin: 4% auto;
    background-color: #f2ff00;
    border: 5px solid #DED622;
    border-radius: 40px;
    width:80%;
}
.replay{
    margin: 4% auto;
    background-color: #FFA200;
    border: 5px solid #E08E00;
    border-radius: 40px;
    width:80%;
}
.star{
    font-family: "riffic_freebold";
    height: 150px;
    width: 150px;
    line-height: 150px;
    font-size: 32px;
    margin: 0 auto;
    color:#585858;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-image: url('../img/star.png');
}
/*
----------------
SPELLING CSS
----------------
*/
.right-gameNo{
    float: right;
    font-family: "riffic_freebold";
    color: #fff;
    margin-right: 10%;
    font-size: 32px;
    margin-bottom: 4%;
}
.left-score{
    float: left;
    font-family: "riffic_freebold";
    color: #fff;
    margin-left:3%;
    font-size: 32px;
    margin-bottom: 4%;
}
.game-panel{
    clear: both;
}
#game_image{
    max-height:280px;
    /*width: 50%;*/
}
.drop-panel{
    margin-top: 5%;
    text-align: center;
}
.drag-panel{
    margin-top: 5%;
    text-align: center;
}
.drop-box{
    font-family: "riffic_freebold";
    display: inline-block;
    background-color: #aaa;
    color:#fff;
    /* height: 50px; */
    width: 11%;
    margin: 1px;
    line-height: 50px;
    font-size: 24px;
    border-radius: 10px;
}
.drag-holder{
    display:inline-block;
    width:15%;
}
.drag-box{
    font-family: "riffic_freebold";
    color: #fff;
    background-color: #ddd;
    line-height: 50px;
    font-size: 24px;
    margin:5px;
    border: 2px solid #eee;
    border-radius: 10px;
}
/*
----------------
MEMORY CSS
----------------
*/
.memory-title{
    font-family: 'riffic_freebold';
    font-size: 50px;
    color: #BA0DD8;
    margin-bottom: -1%;
}
.memory-title-container{
    height:15%;
}
.counter{
    text-align: left;
    margin-left: 2%;
    font-family: "riffic_freebold";
    color: #fff;
    font-size: 25px;
}
.card-container{
    height: 85%;
    width: 99%;
    margin:0 auto;
}
.card{
    border-radius: 10px;
    float: left;
    margin: 1%;
    border: 2px solid #fff;
}
.card img{
    vertical-align: middle;
    max-width:98%;
    max-height:80%;
    margin-top: 10%;
}
.card-back{
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    /*background-image: url('../img/seaweed.png');*/
    background-color:#4439AF;;  
}
.card-front {
    background-color:#deecf2;
}
.card-match{
    border-radius: 10px;
    float: left;
    margin: 1%;
    border: 2px solid transparent;
}
.correct{
    background-color: #90FD72;
}
.incorrect{
    background-color: #FF5759;
}
.percent50{
    height: 50%;
    overflow: auto;
}

/*
----------------
RESPONSIVE CSS
----------------
*/


/*
@media only screen and (min-device-width: 320px){
    .smallImg {
        width: 40px;
    }
    .right-wrong-box{
        font-size: 40px;
    }
}
@media only screen and (min-device-width: 480px){
    .smallImg {
        width: 60px;
    }
    .right-wrong-box{
        font-size: 60px;
    }
    drag-holder {
        width: 10%;
    }
}
@media only screen and (min-device-width: 640px){
    .smallImg {
        width: 80px;
    }
    .right-wrong-box{
        font-size: 80px;
    }
    drag-holder {
        width: 10%;
    }
}
*/