.drag-box{
    float:left;
    background-color: #ddd;
    height: 50px;
    width: 50px;
    margin: 10px;
}
.drop-box{
    float:left;
    background-color: #aaa;
    height: 50px;
    width: 50px;
    margin: 10px;
}
.correct{
    background-color: #53FF24;
}
.incorrect{
    background-color: #FF2427;
}
.drop-panel{
    text-align: center;
    clear:both;
}
.drag-panel{
    text-align: center;
    clear:both;
}

.center-text{
vertical-align: center;
text-align: center;
}

.mathsbox{
    float:left;
    height:150px;
    font-size:130px;
    margin:5px;
    background-color:#ccc;
}
.answerbox{
    float:left;
    height:150px;
    font-size:130px;
    margin:5px;
    background-color:#ccc;
}

.clear {
clear:both;
}
.continue{
    font-size: 36px;
    background-color: #eee;
    width: 50%;
    margin: 0 auto;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #eee;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #f5d6a4;
}

.card-container {
width: 500px;
}

.card{
height:150px;
width: 100px;
float:left;
margin:5px;
border:1px solid #111;
}

.card img{
    max-width:100%;
    max-height:100%;
}

.card-back{
background-color:#bce2f1;
  
}

.card-front {
background-color:#deecf2;

}

.card-match{
height:150px;
width: 100px;
float:left;
margin:5px;
border:1px solid #fff;
}

.card-match img{
    max-width:100%;
    max-height:100%;
}

#bg{
  position: fixed;

  height: 100%;
  width: 100%;
  margin: 0;
  padding:0;

  vertical-align: middle;
  text-align: center;
  color:#fff;

}
#bgtext{ 

    height: 50%;
    width: 50%;
    margin: 0 auto;
    padding:0;
    font-size:25px;  
}
#start{
    padding:20px;
    width:50%;
    margin:0 auto;
    background-color: #f33d6d;
}
#wrapper{
    margin: 0 auto;
    margin-top: 20px;
    
}
#save{
    display: inline-block;
    padding:20px;
    width:20%;   
    margin-left: 20px;
    margin-right: 20px;
    background-color: #CCC;
}
#skip{
    display: inline-block;
    padding:20px;
    width:20%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #555;
}
.gameButton{
    padding:20px;
    width:20%;
    margin:0 auto;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: #2aa44f;

}
.difficultyButton{
    padding:20px;
    width:20%;
    margin:0 auto;
    margin-top:5px;
    margin-bottom: 5px;
    background-color: #8998de;
}