.drag-box{
    float:left;
    background-color: #ddd;
    height: 50px;
    width: 50px;
    margin: 10px;
}
.drop-box{
    float:left;
    background-color: #aaa;
    height: 50px;
    width: 50px;
    margin: 10px;
}
.correct{
    background-color: #53FF24;
}
.incorrect{
    background-color: #FF2427;
}
.drop-panel{
    text-align: center;
    clear:both;
}
.drag-panel{
    text-align: center;
    clear:both;
}

.center-text{
vertical-align: center;
text-align: center;
}

.mathsbox{
    float:left;
    height:150px;
    font-size:130px;
    margin:5px;
    background-color:#ccc;
}
.answerbox{
    float:left;
    height:150px;
    font-size:130px;
    margin:5px;
    background-color:#ccc;
}

.clear {
clear:both;
}
.continue{
    font-size: 36px;
    background-color: #eee;
    width: 400px;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #eee;
}
#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #f5d6a4;
}